apiVersion: v1
kind: Secret
metadata:
  name: falcon-secrets
  namespace: falcon-pms
type: Opaque
stringData:
  DJANGO_SECRET_KEY: "change-me-in-production-super-secret-key"
  DB_USER: "postgres"
  DB_PASSWORD: "Dazl2006Password"
  JWT_SIGNING_KEY: "change-me-jwt-signing-key"
  MFA_ENCRYPTION_KEY: "5D_uoNUQ6JLEdjhr_4q_YHZ7OEs3pXfO1shKkU0dodI="
  PAYSTACK_SECRET_KEY: "sk_test_7400c09c4522e332d65cecc290afee0dda124d03"
  PAYSTACK_PUBLIC_KEY: "pk_test_3a7cd5da94bc9d3192f198056aff00e379819403"
  AWS_ACCESS_KEY_ID: "AKIAXXXXXXXXXXXXXXXX"
  AWS_SECRET_ACCESS_KEY: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
